<ul>
  {% for item in include.collection %}

    {% if item.title == "notcomfy"%}
        {% if item.url != false %}
          <a href="{{ item.url }}" class="notcomfy" style="color: #ffe8d4;">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
    {% else %}
      <li>
        {% if item.url != false %}
          <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
      </li>
    {% endif %}

    {% if item.post_list == true %}
      {% include post_list.html %}
    {% endif %}

    {% if item.entries != blank %}        
      {% include menu_item.html collection=item.entries %}
    {% endif %}
  {% endfor %}
</ul>