---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {% if site.theme_config.c == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{% include menu_item.html collection=site.data.menu.entries %}

<!-- <script>
  var colors = ["white", "black"]
  var currentColor = 0
  var lis = document.querySelectorAll(".notcomfy")
  function changeColor() {
    --currentColor
    if (currentColor < 0) currentColor = colors.length -1
    for (var i = 0; i < lis.length; i++) {
      lis[i].style.color = colors[(currentColor +i) % colors.length]
    }
    console.log(--currentColor)
  }
  setInterval(changeColor, 2000)
console.log("testing working")
</script> -->
